services:
  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=12345678
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Console Web UI
    command: server /data --console-address ":9001"
    volumes:
      - ./minio-data:/data
